* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 50px;
  height: 100vh;
}

h1 {
  font-size: 5rem;
  padding: 3rem 0rem;
}

p {
  font-size: 2rem;
}

.container {
  margin: 4rem 0rem;
  width: 20%;
}

.currency {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currency select {
  background: transparent;
  appearance: none;
  padding: 1rem 3rem;
  border: 1px solid grey;
  font-size: 2rem;
}

.currency input {
  padding: 1rem 2rem;
  font-size: 2rem;
  border: none;
  text-align: right;
}

.swap-rate-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  align-items: baseline;
}

#swap-p {
  color: green;
}

#swap-btn {
  padding: 1rem;
  background-color: green;
  color: white;
  border: 1px solid grey;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}
