* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 50px;
  height: 100vh;
}

h1 {
  color: rgb(66, 125, 157);
  font-size: 5rem;
  padding: 3rem 0rem;
}

p {
  font-size: 2.2rem;
}

.container {
  margin: 4rem 0rem;
  width: 20%;
}

.currency {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currency select {
  background: transparent;
  appearance: none;
  padding: 1rem 2.5rem 1rem 1rem;
  border: 1px solid grey;
  font-size: 2rem;
  background: transparent;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-position: right 18px top 50%, 0, 0;
  background-size: 1rem auto, 100%;
  background-repeat: no-repeat;
}

.currency input {
  /* width: 70%; */
  font-size: 4rem;
  border: 0;
  background: transparent;
  text-align: right;
}

.currency input[type="number"] {
  padding-right: 1rem !important;
  width: calc(100% - 1rem) !important;
}

.currency input::placeholder {
  font-size: 4rem;
  padding: 1rem 2rem;
}

.currency input::-webkit-inner-spin-button,
.currency input::-webkit-outer-spin-button {
  margin-left: 2rem;
}

.swap-rate-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  align-items: baseline;
}

#swap-p {
  display: inline-block;
  color: rgb(66, 125, 157);
}

#swap-btn {
  padding: 1rem;
  background-color: rgb(66, 125, 157);
  color: white;
  border: 1px solid grey;
  border-radius: 10px;
  font-size: 1.75rem;
  cursor: pointer;
}

#swap-btn:hover {
  opacity: 0.8;
  transition: 0.3s;
}

select:focus,
input:focus,
button:focus {
  outline: none;
}

@media screen and (max-width: 1600px) {
  h1 {
    font-size: 2rem;
    color: red;
  }

  .currency input {
    font-size: 1.5rem;
  }
  .currency select {
    font-size: 1rem;
  }

  #swap-btn {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }
}
