* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 50px;
  height: 100vh;
}

h1 {
  font-size: 5rem;
  padding: 3rem 0rem;
}

p {
  font-size: 2rem;
}

.container {
  margin: 4rem 0rem;
  width: 20%;
}

.currency {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currency select {
  background: transparent;
  appearance: none;
  padding: 1rem 2.5rem;
  border: 1px solid grey;
  font-size: 2rem;
}

.currency input {
  font-size: 2.5rem;
  border: 0;

  background: transparent;
  text-align: right;
}

.currency input:valu {
  color: red;
}

.currency input::placeholder {
  font-size: 2.5rem;
  padding: 1rem 2rem;
}

.swap-rate-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  align-items: baseline;
}

#swap-p {
  color: green;
}

#swap-btn {
  padding: 1rem;
  background-color: green;
  color: white;
  border: 1px solid grey;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

select:focus,
input:focus,
button:focus {
  outline: none;
}

@media screen and (min-width: 900px) {
  h1 {
    color: red;
  }
}
