:root {
  --bg-color: #0b0f1e;
  --text-color: #c5cbed;
  --bg-light: #0f172a;
  --accent-color: cyan;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jetbrains Mono", monospace;
  user-select: none;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 14px;
}

.calcContainer {
  background: white;
  flex: 1;
  border-radius: 14px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  min-height: 400px;
  /* stops button squishing when decreasing height */
}

.display {
  background: var(--bg-light);
  padding: 30px 14px;
  border-radius: 8px;
  border: 2px solid var(--text-color);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 4rem;
  line-height: 1.5rem;
  overflow: hidden;
}

.display h1 {
  white-space: nowrap;
  text-align: end;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.btnsContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
  flex: 8;
}

.btnRow {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 14px;
}

.smRow .btn {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.smRow > button:nth-child(1),
.smRow > button:nth-child(2) {
  background: white !important;
  color: var(--bg-color) !important;
}

.btn {
  border: 2px solid var(--text-color);
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 3rem 0rem;
  font-size: 2rem;
  border-radius: 8px;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition-duration: 200ms;
}

.btn:hover {
  opacity: 0.8;
}

.btn p {
  font-size: 2rem;
}

.btnRow:last-child > .btn:nth-child(3) {
  border-color: var(--bg-color);
  background: white;
}
