* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Gabarito", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: darkslategray;
}

.all {
  width: 1000px;
}

header {
  padding: 4rem 1rem;
  max-width: 90%;
  width: 800px;
  margin: 0 auto;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

#new-task-form {
  display: flex;
  height: 60px;
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
}

#new-task-input {
  padding: 0.2rem;
  padding-left: 1.25rem;
  width: 80%;
  font-size: 1.5rem;
  margin-right: 2rem;
  border-radius: 1rem;
  background-color: gainsboro;
}

#new-task-input::placeholder {
  font-size: 1.5rem;
}

#new-task-submit {
  display: flex;
  justify-content: center;
  padding: 0.25rem;
  margin-left: 1rem;
  width: 10%;
  border-radius: 45%;
  background-color: transparent;
}

#new-task-submit {
  font-size: 2rem;
  cursor: pointer;
}

#new-task-submit:hover {
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

main {
  max-width: 800px;
  width: 100%;
  margin: 0 4rem;
}

.task-list {
  max-width: 90%;
  width: 800px;
  padding: 1rem;
  margin: 0 auto;
}

.task-list h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

#tasks {
  height: 60px;
  width: 100%;
  margin: 0;
}

.task {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(220, 220, 220, 0.117);
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.task input {
  height: 2.25rem;
  font-size: 1.125rem;
  width: 90%;
  color: white;
}

.task .content .text {
  padding: 1.5rem 1rem;
  display: block;
  background-color: transparent;
  width: 100%;
}

#tasks .task .actions {
  display: flex;
}

.actions button {
  font-size: 1.4rem;
  background-color: transparent;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-left: 0.5rem;
  text-transform: uppercase;
}

.actions button:hover {
  opacity: 0.8;
}

.actions button:active {
  opacity: 0.6;
}

.delete {
  color: darkred;
}
