* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
}

.container {
  width: 40%;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ccc;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 4rem;
  margin-bottom: 5rem;
}

button {
  padding: 1rem 1rem;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: white;
}

.modal-overlay {
  z-index: -10;
  visibility: hidden;
}

.modal {
  width: 50vw;
  height: 30vh;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  opacity: 1 !important;
}

h3 {
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

.close {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 1rem 1rem;
  font-size: 1rem;
  text-align: right;
  color: red;
}

.open-modal {
  visibility: visible;
  z-index: 10;
}
